
@{
    ViewData["Title"] = "Index";
}

<h1>Yoga</h1>
<hr class="heading-rule" />
<div class="index-container">
    <a asp-area="" asp-controller="Yoga" asp-action="Create"><div class="index-item"><img src="~/images/buddha.svg" /><div class="menu-text">create</div></div></a>
    <a asp-area="" asp-controller="Yoga" asp-action="Practice"><div class="index-item"><img src="~/images/lotus.svg" /><div class="menu-text">practice</div></div></a>
    <a asp-area="" asp-controller="Yoga" asp-action="Manage"><div class="index-item"><img src="~/images/om.svg" /><div class="menu-text">manage</div></div></a>
    <a asp-area="" asp-controller="Yoga" asp-action="Shop"><div class="index-item"><img src="~/images/om.svg" /><div class="menu-text">shop</div></div></a>
</div>
