
@{
    ViewData["Title"] = "Index";
}

<h1>Social</h1>
<hr class="heading-rule" />
<div class="index-container">
    <a asp-area="" asp-controller="Social" asp-action="Create"><div class="index-item"><img src="~/images/icons/om.svg" /><div class="menu-text">create</div></div></a>
    <a asp-area="" asp-controller="Social" asp-action="ManageGroups"><div class="index-item"><img src="~/images/icons/manageIcon.svg" /><div class="menu-text">manage</div></div></a>
    <a asp-area="" asp-controller="Social" asp-action="Search"><div class="index-item"><img src="~/images/icons/buddha.svg" /><div class="menu-text">search</div></div></a>
    <a asp-area="" asp-controller="Social" asp-action="Profile"><div class="index-item"><img src="~/images/icons/lotus.svg" /><div class="menu-text">profile</div></div></a>
</div>