
@{
    ViewData["Title"] = "ManageGroups";
}

<h1>Manage Groups</h1>
<hr class="heading-rule"/>
<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2" id="group-list">
    <h4>Groups</h4>
    <div id="group-list"></div>
</div>

<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
    <div class="success-output">
        <h4>Edit Group</h4>
        <div id="success-message"></div>
    </div>

    <div class="form-group">
        <div class="error-input">
            <label for="groupName">Group Name</label><span class="error" id="group-name-error" display="none">Please enter a name!</span>
        </div>
        <input type="text" class="form-control" id="GroupName" placeholder="Group Name" required>

    </div>
    <div class="form-group">
        <label for="groupDescription">Description</label>
        <textarea class="form-control" id="GroupDescription" rows="3"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="GroupStatus"> Private
        </label>
    </div>
    <div class="form-group">
        <label for="GroupLevel">Level</label>
        <select class="form-control" id="GroupLevel">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>
    <button class="btn btn-default button-medium" id="createGroup" type="button">Create</button>
    <button class="btn btn-default button-medium" id="updateGroup">Update</button>
    <button type="button" class="btn btn-danger button-medium" data-toggle="modal" data-target="#myModal" id="delete-button">Delete</button>
</div>

    <script type="text/javascript" src="~/js/ManageGroups.js"></script>

