
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<hr class="heading-rule" />
<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search-items">
</div>
<script type="text/javascript" src="~/js/GroupSearch.js"></script>

