@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <p>
        Thank you for confirming your email. Please <a href="http://localhost:5002">Click here to Log in</a>.
    </p>
</div>
