@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>
<hr class="heading-rule" />
<div class="index-container">
    <a asp-area="" asp-controller="Yoga" asp-action="index"><div class="index-item"><img src="~/images/icons/buddha.svg" /><div class="menu-text">yoga</div></div></a>
    <a asp-area="" asp-controller="Meditation" asp-action="index"><div class="index-item"><img src="~/images/icons/lotus.svg" /><div class="menu-text">meditation</div></div></a>
    <a asp-area="" asp-controller="Social" asp-action="index"><div class="index-item"><img src="~/images/icons/om.svg" /><div class="menu-text">social</div></div></a>
</div>

<button onclick="getTest()">buttons lawl</button>