@{
    ViewData["Title"] = "BreathTimer";
}

<h1>Breath Timer</h1>
<hr />
<div class="container-fluid text-center">
    
    <div class="row col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-ms-offset-2 col-lg-8 col-lg-offset-2">
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 breath-pad">
            Inhale
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
            <input type="number" id="inhale" min="1" max="30" value="1"><br />
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            Hold
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
            <input type="number" id="inHold" min="0" max="30" value="0"><br />
        </div>
    </div>
    <div class="row col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-ms-offset-2 col-lg-8 col-lg-offset-2 breath-timer-lower">
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 breath-pad">
            Exhale
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
            <input type="number" id="exhale" min="1" max="30" value="1"><br />
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            Hold
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
            <input type="number" id="outHold" min="0" max="30" value="0"><br>
        </div>
    </div>
    <div class="row col-xs-12 breath-timer-lower center-block">
        <button class="btn btn-primary" onclick="clickThis(), showBreath()">Begin</button>
    </div>
</div>

<div id="breath-display" class="overlay">
    <div class="overlay-content">
        <img id="play-meditation-image" class="img-responsive center-block" width="25%" src="../images/logo.svg" /><br />
        <p class="player-text" id="breath-text"></p>
        <div>
            <input id="vol-control" type="range" min="0" max="100" step="1" width="100px" value="100" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)"></input>
            <a href="javascript:void(0)" onclick="hideDisplay()" id="stop-button"><p class="fa fa-stop-circle-o" aria-hidden="true"></p></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/BreathTimer.js"></script>

