
@{
    ViewData["Title"] = "UploadMeditation";
}

<h1>Manage Meditation</h1>
<hr class="heading-rule" />
<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2" id="group-list">
    <h4>Meditations</h4>
    @*<div class="name-search">
        <div>
            <label for="MeditationName">Meditation Name</label>
            <input type="text" class="form-control" id="MeditationSearch" />
        </div>
        <div class="search-button text-center">
            <button class="btn btn-default button-medium" id="searchMeditations"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </div>
    </div>*@
    <div id="meditation-list">
        <!--
        *************** Code below is for AJAX
        -->
    </div>
</div>

<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
    <div class="success-output">
        <h4>Edit Meditation</h4>
        <div id="success-message"></div>
    </div>

    <div class="form-group">
        <label for="MeditationName">Meditation Name</label>
        <div class="error-input">
            <div class="error" id="meditation-error1" display="none">Please enter a name!</div>
        </div>
        <input type="text" class="form-control" id="MeditationName" placeholder="Mediation Name" required>

    </div>
    <div class="form-group">
        <label for="MeditationDescription">Meditation Description</label>
        <textarea class="form-control" id="MeditationDescription" rows="3" placeholder="Meditation Description"></textarea>
    </div>
    <div class="form-group">
        <label for="MeditationTheme">Meditation Theme</label>
        <div class="error-input">
            <div class="error" id="meditation-error2" display="none">Please enter a theme!</div>
        </div>
        <input type="text" class="form-control" id="MeditationTheme" placeholder="Mediation Theme">
    </div>
    <div class="form-group">
        <label for="MeditationCreator">Meditation Creator</label>
        <div class="error-input">
            <div class="error" id="meditation-error3" display="none">Please enter a creator!</div>
        </div>
        <input type="text" class="form-control" id="MeditationCreator" placeholder="Mediation Creator">
    </div>
    <div class="form-group">
        <label for="MeditationType">Meditation Type</label>
        <div class="error-input">
            <div class="error" id="meditation-error4" display="none">Please enter a type!</div>
        </div>
        <input type="text" class="form-control" id="MeditationType" placeholder="Meditation Type">
    </div>
    @*<div class="form-group">
        <label for="files">Meditation Files</label>
        <input type="file" class="form-control" id="files" multiple>
    </div>*@
    <button class="btn btn-default" id="uploadMeditation" type="button">Upload</button>
    <button class="btn btn-default" id="updateGroup">Update</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" id="delete-button">Delete</button>
</div>

<script type="text/javascript" src="~/js/UploadMeditation.js"></script>